{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type='text/css'>
    {% block head %}

    <title>Base</title>

    {% endblock %}

</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Social Network</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="account/register"> Register</a></li>
    </ul>
  </div>
</nav>
</div> <!-- /container -->

    {% block body %}

    {% endblock %}
</body>
</html>