{% extends 'base.html' %}

{% block content %}
    {% for job in company_jobs %}
        <div class="col-lg-12">
            <p><strong>Title: </strong>{{ job.title }}</p>
            <p><strong>Published Date: </strong>{{ job.published_date }}</p>
            <p><strong>Deadline: </strong>{{ job.deadline }}</p>
            <p><strong>Description: </strong>{{ job.description }}</p>
            <p><strong>Total Vacancy: </strong>{{ job.total_vacancy }}</p>
            <p><strong>Job Nature: </strong>{{ job.job_nature }}</p>
            <p><strong>Educational Requirements: </strong>{{ job.educational_requirement }}</p>
            <p><strong>Job Requirements: </strong>{{ job.job_requirement }}</p>
            <p><strong>Job Location: </strong>{{ job.job_location }}</p>
            <p><strong>Company Benefit: </strong>{{ job.company_benefit }}</p>
            <p><strong>Year Of Experience: </strong>{{ job.year_of_experience }}</p>
            <p><strong>Salary Range: </strong>{{ job.min_salary }} - {{ job.max_salary }}</p>
            <p><strong>Age Limit: </strong>{{ job.min_age }} - {{ job.max_age }}</p>
            <p><strong>Skill Sets: </strong>{{ job.skill_sets }}</p>
        </div>
    {% endfor %}
{% endblock %}